<div class="container">
  <div class="row">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <%= simple_format(blog.text) %>
      </div>
      <% if user_signed_in? && current_user.id == blog.user_id %>
      <div class="card-action">
        <%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
        <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %>
      </div>
      <% end %>
    </div>
  </div>
</div>
